<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <h1>Car Recommendation </h3>
        <form action="/results" method="POST">
            Name : <input type="text" name="id" id="id" placeholder="Enter name" />
            <br />
            <p> </p>
            Company: <input type="text" name="Company" id="Company" placeholder="Enter Company" />
            <br />
            <p> </p>
            Starting Price: <input type="text" name="price_starting" id="price_starting" placeholder="Enter Price" />
            <br />
            <p> </p>
            TopEnd Price: <input type="text" name="price_topend" id="price_topend" placeholder="Enter Price" />
            <br />
            <p> </p>
            Mileage: <input type="text" name="mileage_l " id="mileage_l" placeholder="Enter mileage" />
            <br />
            <p> </p>
            Mileage: <input type="text" name="mileage_u" id="mileage_u" placeholder="Enter mileage" />
            <br />
            <p> </p>
            Seating Capacity: <input type="text" name="seating_capacity" id="seating_capacity"
                placeholder="Enter Capacity" />
            <br />
            <p> </p>

            Transmission:<input type="checkbox" name="manual" /> Manual
            <input type="checkbox" name="automatic" id="automatic" /> Automatic
            </br>
            <p> </p>
            Fuel:<input type="checkbox" name="petrol" id="petrol" /> Petrol
            <input type="checkbox" name="diesel" id="diesel" /> Diesel
            <input type="checkbox" name="cng" id="cng" /> CNG
            <input type="checkbox" name="electric" id="electric" /> Electric
            </br>
            <p> </p>


            <input type="submit" name="submit" value="Submit" />

        </form>
</body>

</html>
